.ant-list-items {
  margin: 0;
  padding: 0;
}

.pannel-container {
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  padding-top: 30px;
  margin-bottom: 10px;
  width: 60%;
  /* min-height: 70vh; */
}

.selected-task {
  background-color: rgb(240, 240, 240);
  margin: 13px;
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px;
}

.task {
  color: #fff;
  margin: 13px;
  border-radius: 10px;
  padding: 20px;
}

.task-finished {
  background-color: rgb(29, 233, 14);
}

.task-not-finished {
  background-color: rgb(235, 55, 56);
}

#task-input-field {
  border-radius: 10px;
  margin-right: 50px;
}

#cancel-btn {
  border-radius: 5px;
  margin-right: 10px;
}

#done-btn {
  border-radius: 5px;
}
